/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
    margin:0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}


    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }


/*  global classes */
.container{
    width:100vw;
    display: grid;
    grid-template-areas: 
                "video"
                "cards"
                "feature-section"
                "image-card-section"
                "banner-section"
                "hover-image-section"
                "testimonial-section";
    grid-template-rows: .5fr .35fr .5fr .6fr .005fr .4fr .5fr;
    grid-template-columns: auto;

}

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}


main {
    min-height: 100vh;
}

/*
=============== 
Navbar
===============
*/
.banner-section{
    margin-top:6.25rem;
    background-color: #000;
    width:100%;
    margin-bottom:6.25rem;
    display:flex;
    justify-content: center;
}
.banner{
    width:50%;
    height:100%;
}
/* card section */
.card-section{
    grid-area: cards;
    margin:0;
    top:0;
    width:100%;
}
.card-container{
    display: flex;
    justify-content: space-between;
    padding:3rem 30rem;
    width:100vw;
}
.card{
    display:flex;
    flex-direction: column;
    background-color:#ccc;
    height:auto;
    width:20.8125rem;
    /* border: 1px solid #000; */
    padding:0;
    margin:10px;
    text-align: center;
    box-shadow: 0 8px 8px -4px #000;
}
.card h3{
    font-size:5rem;
    background: -webkit-linear-gradient(#900,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:32px 16px 16px;
    margin-bottom: 0;
}
.card-subtitle{
    font-size:1.5625rem;
    font-weight:500;
    margin:0 auto 16px;
    text-align: center;
}
.card-description{
    font-size:1.06rem;
    line-height: 1.625rem;
    padding:0 16px;
    flex-basis:6.5rem;
}

.card-link{
    font-size: 1.0625rem;
    text-align: center;
    line-height: inherit;
    text-decoration: underline;
    padding: 16px 16px 32px;
    line-height: 1.625rem;
}
.card-selector{
    display:none;
}
.hov-overlay{
    background-color: rgba(202, 5, 5, 0.8);
    bottom:0;
    left:0;
    right:0;
    height:0;
    width:100%;
    position:absolute;
    overflow: hidden;
    z-index:2;
    transition: .5s ease;
}
.hov-item1:hover .hov-overlay1{
    height:100%;
}
.hov-item2:hover .hov-overlay2{
    height:100%;
}
.hov-item3:hover .hov-overlay3{
    height:100%;
}
.hov-item4:hover .hov-overlay4{
    height:100%;
}
.hov-item5:hover .hov-overlay5{
    height:100%;
}
.hov-item6:hover .hov-overlay6{
    height:100%;
}
.hover-image-section{
    margin-top:0;
    position:relative;
    top:0;
    padding-top:0;
    display:grid;
    height:100%;
    width:100%;
    grid-gap:10px;
    grid-template-areas: 
    "hov-item1 hov-item1 hov-item2 hov-item3"
    "hov-item1 hov-item1 hov-item6 hov-item6"
    "hov-item4 hov-item5 hov-item6 hov-item6";
}
.hov-image{
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}
.hov-info{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.hov-item1{
    grid-area: hov-item1;
    position:relative;
}
.hov-item2{
    grid-area: hov-item2;
    position:relative;
}
.hov-item3{
    grid-area: hov-item3;
    position:relative;
}
.hov-item4{
    grid-area: hov-item4;
    position:relative;
}
.hov-item5{
    grid-area: hov-item5;
    position:relative;
}
.hov-item6{
    grid-area: hov-item6;
    position:relative;
}
/* image card section */
.image-card{
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    margin-right:0;
    height:100%;
    position: relative;
}
.image-card h3{
    position:absolute;
    bottom:0;
    background-color:rgba(255,255,255,0.8);
    width: 100%;
    color:#900;
    padding:.5rem;
    margin-bottom: 0;
}
.flex-image{
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.image-card:hover .flex-image{
    filter:brightness(60%);
    cursor:pointer;
}
.image-card:hover h3{
    background-color:#ffffff;
    cursor:pointer;
}
.image-card-container{
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns:1fr;
    justify-items: center;
    width:70%;
    margin: 0 auto;
}
.image-card-section{
    grid-area:image-card-section;
    top:0;
    width:100vw;
    padding: 0 16px;
    margin: 0;
}
.image-card-section h2{
    text-align: center;
}
.info{
    display: none;
    width:70%;
    margin: 0 auto;
    padding-top: 30px;
    background-color:rgba(255,255,255,0.8);
}
.info h4{
    font-size: 39px;
    color:#900
}
.info-subtitle{
    color:#900;
    font-size: 1.0625rem;
}
.info-main{
    color: #112345;
    font-size: 1.0625rem;
}
.visible{
    display:block;
}
.invisible{
    display:none;
}
.dim{
    filter:brightness(60%);
}

.main-nav{
    background-color:#ffffff;
    top:0;
    width:100vw;
    height:5rem;
    z-index: 3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}
.nav-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:20rem;
}
.nav-logo img{
    height:4rem;
}
.main-nav-links{
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:10rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.current-tab{
    position:absolute;
    top:0;
    left:0;
    margin-top:5rem;
    background-color:#000;
    width:100vw;
    height:8rem;
    display:flex;
    justify-content: center;
    align-items:top;
    color:#ffffff;
    font-size:3rem;
}
.subnav {

    background: #900;
    box-shadow: var(--light-shadow);
    border-bottom:.1rem solid #000;
    position: fixed;
    top:10rem;
    transition:.3s;
    width:100%;
    z-index: 2;
}

.nav-header {
    display: flex;
    align-items: center;
    width:36%;
    justify-content: center;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

.logo {
    height: 40px;
}

.links a, .nav-header a{
    color: #000;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover, .nav-header a:hover {
    background: #ccc;
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
    text-decoration:underline;
}

.social-icons {
    display: none;
}

.links {
    width:100%;
    margin-left:20rem;
    margin-right:10rem;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
}
/* testimonial section */
.testimonial-section{
    width:100%;
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-section h4{
    font-size:2.4375rem;
    font-weight:400;
}
.testimonial-section p{
    margin-top:1rem;
    font-size:1rem;
}
.testimonial-intro{
    display:flex;
    flex-direction: column;
    width:70%;
    justify-content: flex-start;
    align-items: flex-start;
}
.testimonial-list{
    width:70%;
    display:flex;
    flex-direction: column;
}
.testimonial-img{
    height:9.75rem;
    width:9.75rem;
    border-radius: 50%;
    object-fit: cover;
    display:block;
    margin-right:2rem;
}
.testimonial-item{
    background-color: rgba(207, 202, 202, 0.1);
    padding:2rem;
    margin-top: 2rem;;
    display: flex;
}
.testimonial-item:last-child{
    margin-bottom: 2rem;
}
.testimonial-text{
    display:flex;
    flex-direction: column;
}
.testimonial-quote{
    font-size: 1.5625rem;
    font-weight:600;
    color:#900;
}
.testimonial-author{
    color:#900;
    font-size: 1rem;
}
/* feature box section */
.feature-box{
    margin-bottom:4rem;
    grid-area:feature-section;
    width:100vw;
}
.feature-box-container{
    display:flex;
    width:100%;
    height:100%;
    background-color: #900;
}
.feature-box-image{
    width:55%;
}
.feature-box-text{
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
}
.feature-box h3{
    padding: 0 32px 24px 80px;
    color:#ffffff
}
.feature-box-description{
    padding: 0 32px 24px 80px;
    color:#ffffff;
}
.feature-box-help {
    padding: 0 32px 24px 80px;
    color: #ffffff;
    font-weight:bold;
}
.feature-box-buttons {
    display:flex;
    padding: 0 32px 0px 80px;
    width:100%;
    align-content: flex-start;
}

.donate-btn:hover{
    filter:brightness(70%);
    cursor: pointer;
}
.learn-btn:hover {
    filter: brightness(70%);
    cursor: pointer;
}
.donate-btn{
    padding:.5rem 1.125rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    background:transparent;
    border-color: white;
    color:white;
}
.learn-btn{
    padding: .5rem 1.125rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    background:white;
    border-color: #000;
    color:#000;
    margin-right: 1rem;
}
    .nav-center {
        width:100%;
        height:3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        height: auto;
        padding-right:2rem;
        width:100%;
        display: flex;
        justify-content: space-between;
        font-weight:500;
    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a:hover {
        padding: 0;
        background: transparent;
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
    }

    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
    .video-section{
        grid-area: video;
        width:100vw;

    } 
    .video-container {
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            object-fit: cover;
            z-index: -2;
            filter:brightness(50%);
    }
    .video-still{
        display:none;
    }
    .video-section h1{
        grid-area: video;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size:3rem;
        color:#ffffff;
        z-index: 1;
    }
    .sticky-subnav
    {
        top:5rem;
        position:fixed;
        transition:.3s;
    }

/* mobile formatting */
@media only screen and (max-width:768px) {
    /* responsive navbar */
    .container{
        max-width: 768px;
    }
    .mobile-main-nav{
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .main-nav{
        justify-content: space-around;
    }
    .main-nav-active{
        flex-direction:column;
        height:100vh;
        justify-content: center;
        align-items: center;
    }
    .nav-logo{
        margin-left:0;
    }
    .main-nav-links{
        display:none;
    }
    .main-nav-links-active{
        display:flex;
        flex-direction:column;
        margin:0;
        height:100%;
        margin-top: 2rem;
        padding-bottom:5rem;
        padding-right:0;
    }
    .hamburger{
        display:block;
        cursor:pointer;
    }
    .rotate-down{
        margin:0;
        transform:rotate(45deg);
        transition: .5s;
    }
        .rotate-up{
        margin:0;
        margin-top:-4px;
        transform:rotate(-45deg);
        transition: .5s;
    }
    .hide{
        display:none;
    }

    .nav-center{
        display:none;
    }
    .subnav{
        display:none;
    }
    /* video section and tab indicator */
    .current-tab{
        height: 5rem;
        font-size:2rem;
        align-items: center;
    }
    .video-container{
        width:100%;
    }
    .video-section h1{
        font-size:1.5rem;
        top:38%;
    }
    /* card section */
    .card-section{
        width:100vw;
        display: flex;
        max-height:100%;
    }
    .card-container{
        width:100vw;
        padding:0;
        justify-content: center;
        align-items: center;
    }
    .card{
        padding:0;
        height:70%;
    }
    .card-hide{
        display:none;
    }
}
@media only screen and (max-width:428px) {
    /* whole page */
    .container{
        margin-top:8rem;
        grid-template-rows: 50vh 50vh 80vh 25vh 25vh 50vh 50vh;
    }
    .container-extend{
        grid-template-rows: 50vh 50vh 80vh 60vh 25vh 50vh 50vh;
    }
    .current-tab{
        height:3rem;
    }
    /* video background section */
    .video-container{
        display:none;
    }
    .video-section img{
        display:block;
        width:100%;
        height:100%;
    }
    .video-section h1{
        font-size:2.5rem;
        text-align: center;
        width:90%;;
    }
    /* card section  */
    .card-section{
        margin-top:1rem;
        flex-direction: column;
        align-items: center;
    }
    .card-container{
        flex-direction: column;
        height:100%;
    }
    .card{
        height:95%;
        width:90%;
    }
    .card h3{
        padding:0;
    }
    .card-link{
        padding:0;
    }

    .card-selector{
        display: flex;
        margin-top: .5rem;
    }
    .card-btn{
        width:1rem;
        height:1rem;
        border: 4px solid #900;
        margin:0 .25rem;
        border-radius:50%;
    }
    .card-btn-active{
        background-color: #900;
        opacity:1;
    }
    .card-hide{
        display:none;
    }
    .feature-box{
        margin-top:1rem;
        height:80vh;
    }
    .feature-box-text{
        height:auto;
        width:auto;
    }
    .feature-box-container{
        flex-direction: column;
    }
    .feature-box-image{
        height:35%;
        width:100%;
    }
    .feature-box-text{
        height:65%;
        width:auto;
        justify-content: center;
        align-items: center;
        padding:1rem;
    }
    .feature-box-text h3{
        padding:0;
    }
    .feature-box-description{
        padding:0;
        text-align: center;
    }
    .feature-box-help{
        padding:0;
    }
    .feature-box-buttons{
        padding:0;
        flex-direction:column;
        justify-content: space-around;
    }
    .learn-btn{
        margin-top:.5rem;
        margin-right:0;
        margin-bottom:1rem;
    }
    .learn-btn, .donate-btn{
        font-size:1.5rem;
    }
    .image-card-section{
        display:flex;
        height:100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:0;
        margin-top:1rem;
    }
    .image-card-section h2{
        font-size:1.5rem;
        text-align: left;
        margin-top:1.5rem;
        margin-left:.5rem;
        margin-bottom: .5rem;
    }
    .image-card-container{
        margin-top: 1rem;
        width:100%;
        justify-content: space-between;
    }
    .image-card{
        border: 1px solid #000;
        margin-left:.5rem;
        margin-right:0.5rem;
    }
    .image-card h3{
        display:none;
    }
    .info-container{
        grid-area:image-card-section;
        height:100%;
        padding:0;
    }
    .info{
        padding:0;
        height:100%;
        margin-left:.5rem;
        width:100%;
    }
    .info h4{
        margin-top:1rem;
        font-size: 2rem;
    }
    .banner-section{
        overflow: hidden;
        width:100%;
        margin-top:3rem;
        margin-bottom:0;
        background-color: white;
    }
    .banner{
        height:10rem;
        width:100%;
    }
    .hover-image-section{
        display:none;
    }
    .testimonial-section{
        margin-top: 2rem;
    }
    .testimonial-section h4{
        font-size:1.75rem;
    }
    .testimonial-section p{
        margin-top:0;
    }
    .testimonial-intro{
        width:90%;
    }
    .testimonial-list{
        width:90%;
    }
    .testimonial-item{
        flex-direction: column;
        align-items: center;
    }
    .testimonial-img{
        margin-bottom:.5rem;
    }

}
@media only screen and (max-width:375px){
    .container{
        margin-top:8rem;
        grid-template-rows: 50vh 50vh 80vh 35vh 30vh 50vh 50vh;
    }
    .container-extend{
        grid-template-rows: 50vh 50vh 80vh 75vh 30vh 50vh 50vh;
    }
    .feature-box-text p{
        margin:0;
    }
}